<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^(index\\.php|resources|uploads|robots\\.txt)
RewriteRule ^(.*)$ /index.php/$1 [QSA,PT,L]
</IfModule>