body{
    background-color: #ff822e;
    margin-top: 10px;
}
.anim_a {
    display:block;
    position:absolute;
    width:272px;
    height:160px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    background-image:url(/resources/images/card/a.png);
    margin:0 auto;
}
.anim_a:hover{
    opacity:0;
    filter: alpha(opacity=0);
}
.anim_b{


    width:272px;
    height:160px;
    background-image:url(/resources/images/card/b.png);
}

.wrap{
    width:272px;
    height:auto;
    margin:0 auto;
}
.card_logo_wrap{
    margin-left:20px;
    margin-top:10px;
    width:58px;
    height:58px;
    border-radius:29px;
    background:#fcc;
    box-shadow:-10px 0 20px rgba(0, 0, 0, 0.2) inset;
    text-align:center;
    line-height:58px;
    color:#fff;
    font-weight:bold;
    float:left;
}
.card_logo{
    width:58px;
    height:58px;
}
.m_name,.m_info{

    color:#ffffff;
}
.m_name{
    margin-top: 40px;
    margin-left: 35px;
    width:auto;
    font-size:16px;
    float:left;
}
.u_code{
    margin-top:110px;
    margin-left:175px;
    text-align:left;
    color:#fc3;
    width:auto;
}
.m_info{
    font-size:10px;
    margin: 0 auto;
    text-align:center;
}
.dblock{
    width:100%;
    display:block;
    height:25px;

}
.list{
    margin-left:20px;
    font-size:12px;
}